body {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

header, h3 {
  background-image: url("#");
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1, h3, a, #copyrights {
  color: white;
}

h3, h4 {
  font-size: 23px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
}

#copyrights {
  font-size: 11px;
  background-color: dimgray;
}

footer {
  text-align: left;
}
